code/clients/ManagementApplication/Service References/ManagementService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Management.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Management.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/management-ws/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CreateOrderModel">
    <xs:sequence>
      <xs:element name="CustomerId" type="xs:int" />
      <xs:element name="ProductCode" type="xs:int" />
      <xs:element name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderModel" nillable="true" type="tns:CreateOrderModel" />
  <xs:complexType name="OrderModel">
    <xs:sequence>
      <xs:element name="CustomerId" type="xs:int" />
      <xs:element name="OrderDate" type="xs:dateTime" />
      <xs:element name="ProductCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderModel" nillable="true" type="tns:OrderModel" />
  <xs:complexType name="CreateCustomerModel">
    <xs:sequence>
      <xs:element name="Address" nillable="true" type="xs:string" />
      <xs:element name="EmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCustomerModel" nillable="true" type="tns:CreateCustomerModel" />
  <xs:complexType name="RemoveCustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveCustomerModel" nillable="true" type="tns:RemoveCustomerModel" />
  <xs:complexType name="ArrayOfCustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerModel" nillable="true" type="tns:CustomerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerModel" nillable="true" type="tns:ArrayOfCustomerModel" />
  <xs:complexType name="CustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CustomerModel" nillable="true" type="tns:CustomerModel" />
  <xs:complexType name="OrderProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCode" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Supplier" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderProductModel" nillable="true" type="tns:OrderProductModel" />
  <xs:complexType name="ArrayOfSupplierModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierModel" nillable="true" type="tns:SupplierModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierModel" nillable="true" type="tns:ArrayOfSupplierModel" />
  <xs:complexType name="SupplierModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierModel" nillable="true" type="tns:SupplierModel" />
  <xs:complexType name="ArrayOfProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductModel" nillable="true" type="tns:ProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductModel" nillable="true" type="tns:ArrayOfProductModel" />
  <xs:complexType name="ProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
</xs:schema>