code/web/Orders.Service/Service References/AsiTech.Services.Management/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.Model.ManagementCenter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.Model.ManagementCenter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/management-ws/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAL.Model.Common" />
  <xs:complexType name="CustomerOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ManagementCenterProduct" nillable="true" type="tns:ManagementCenterProduct" />
      <xs:element minOccurs="0" name="OrderAmount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerOrder" nillable="true" type="tns:CustomerOrder" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Model.Common" base="q1:CustomerBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerOrder" nillable="true" type="tns:ArrayOfCustomerOrder" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomerOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerOrder" nillable="true" type="tns:CustomerOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerOrder" nillable="true" type="tns:ArrayOfCustomerOrder" />
  <xs:complexType name="ManagementCenterProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableAmount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerOrder" nillable="true" type="tns:ArrayOfCustomerOrder" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProductSupplier" nillable="true" type="tns:ProductSupplier" />
      <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierOrder" nillable="true" type="tns:ArrayOfSupplierOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagementCenterProduct" nillable="true" type="tns:ManagementCenterProduct" />
  <xs:complexType name="ProductSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ManagementCenterProduct" nillable="true" type="tns:ArrayOfManagementCenterProduct" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierOrder" nillable="true" type="tns:ArrayOfSupplierOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSupplier" nillable="true" type="tns:ProductSupplier" />
  <xs:complexType name="ArrayOfManagementCenterProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManagementCenterProduct" nillable="true" type="tns:ManagementCenterProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagementCenterProduct" nillable="true" type="tns:ArrayOfManagementCenterProduct" />
  <xs:complexType name="ArrayOfSupplierOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierOrder" nillable="true" type="tns:SupplierOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierOrder" nillable="true" type="tns:ArrayOfSupplierOrder" />
  <xs:complexType name="SupplierOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ManagementCenterProduct" nillable="true" type="tns:ManagementCenterProduct" />
      <xs:element minOccurs="0" name="OrderAmount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSupplier" nillable="true" type="tns:ProductSupplier" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrder" nillable="true" type="tns:SupplierOrder" />
</xs:schema>