code/web/Orders.Service/Service References/AsiTech.Services.Management/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerBase" nillable="true" type="tns:CustomerBase" />
</xs:schema>