code/clients/OrderApplication/Service References/OrdersService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/orders-ws/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Orders.Service.Model" />
  <xs:import schemaLocation="http://localhost:8080/orders-ws/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Management.Service.Model" />
  <xs:element name="PlaceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Orders.Service.Model" minOccurs="0" name="order" nillable="true" type="q1:OrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Management.Service.Model" minOccurs="0" name="ListProductsResult" nillable="true" type="q2:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>